/* Copyright © 2022  RockSolid1106

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.  */ 
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
body, html{
  
  font-family: 'Inter', sans-serif; 
  /* font-family: 'Source Sans Pro', sans-serif; */

  
}

* {
  font-family: 'Source Sans Pro', sans-serif !important;

}

/* Anims */
@keyframes menu-fade-in-anim {
  from {
    opacity: 0;
    max-height: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    max-height: 800px;
    transform: scale(1);
  }
}
@-webkit-keyframes menu-fade-in-anim {
  from {
    opacity: 0;
    max-height: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    max-height: 800px;
    transform: scale(1);
  }
}

.menu-fade-in {
  transform-origin: center;
  animation: menu-fade-in-anim 400ms ease forwards;
  -webkit-animation: menu-fade-in-anim 400ms ease forwards;
  display: block;
}
/*  */
@keyframes menu-fade-out-anim {
  to {
    opacity: 0;
    max-height: 0;
    transform: scale(0.95)
  }
  from {
    opacity: 1;
    max-height: 800px;
    transform: scale(1);
  }
}
@-webkit-keyframes menu-fade-out-anim {
  to {
    opacity: 0;
    max-height: 0;
    transform: scale(0.95)
  }
  from {
    opacity: 1;
    max-height: 800px;
    transform: scale(1);
    
  }
}

.menu-fade-out {
  transform-origin: center;
  animation: menu-fade-out-anim 400ms ease forwards;
  -webkit-animation: menu-fade-out-anim 400ms ease forwards;
}

.menu-placeholder {
  height: 80%;
  width: 100%;

}
.menu-buttons {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.footer-buttons-wrapper {
  display: flex;
  justify-content: center;
  gap: .5em;
}

.menu-buttons button{
  border: 3px solid #8A2700;
  border-radius: 0.3em;
  background: #8A2700;
  color: #FFF;
  cursor: pointer;
}

.menus {
  display: none;
  transition: opacity 300ms ease;
  opacity: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  max-width: 100%;
  transition: max-width 300ms ease forwards;
}
.sub-menu {
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
}

.menu-heading {
  color: #DD6B20; 
  font-family: 'Zilla Slab', serif; 
  font-size: 1.25em; 
  padding: 0; 
  margin: 0.3em;
}
.main-menu {
  display: block;
  width: 100%;
  opacity: 1;
}

html, body {
  background-color: #1D1D1D;
  max-height: 800px;
  min-width: 350px;
  max-width: 600px;
  overflow-y: hidden;
  
}

body {
  color: rgb(195, 195, 195);
}
@media screen and (min-width: 448px)
  {
  html {
    background-color: #1D1D1D;
    margin: 1em;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0;
    font-weight: 500;
    overflow-y: hidden;
  }
  body{
    color: rgb(195, 195, 195);
    
  }
  #header {
    text-align: center;
    position: static;
    margin-left: 1em;
    margin-right: 1em;
  }
  #logoimage {
    width: 0.8em !important;
  }
  #title {
    font-size: 1.5em;
  }

  .submitbutton, .backbutton {
    -webkit-text-size-adjust: 100%;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    overflow: visible;
    -webkit-appearance: button;
    font-family: inherit;
    line-height: inherit;
    font-size: 3em;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    white-space: nowrap;
    vertical-align: middle;
    padding: 4px;
    position: inline-block;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: 0.1s all linear;
    cursor: pointer;
    user-select: none;
    font-weight: 500;
    background: rgb(150, 42, 0);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.08) 100%);
    width: 10em !important;
    height: 1.5em !important;
    margin-bottom: 0.4em;
  }
  

  #version {
    color: #DD6B20;
  }}





  @media screen and (max-width: 447px)
  {

  html {
    border: #ff4d00 2px solid;
    border-radius: 0.4em;
    background-color: #1D1D1D;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0;
    font-weight: 500;
    overflow-y: hidden;
  }
  body{
    color: rgb(195, 195, 195);
  }
  #header{
    text-align: center;
    position: static;
  }
  #title {
    font-size: 1.5em;
  }
  #logoimage {
    width: 0.8em !important;
  }
  .submitbutton, .backbutton {
    -webkit-text-size-adjust: 100%;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    overflow: visible;
    -webkit-appearance: button;
    font-family: inherit;
    line-height: inherit;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    white-space: nowrap;
    vertical-align: middle;
    padding: auto;
    position: inline-block;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: 0.1s all linear;
    cursor: pointer;
    user-select: none;
    font-weight: 500;
    background: rgb(150, 42, 0);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.08) 100%);
    width: 5em !important;
    height: 1.5em !important;
    margin-bottom: 0.4em;
  }
  

  #version {
    font-size: 0.9em;
    color: #DD6B20;
  }}